@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  background: #61ffed !important;
  height: 2px !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d3d3d3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a2a2a2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
